/*--------------Global--------------*/
::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root {
    scroll-behavior: smooth;
    --dark-blue: #112b3c;
    --blue: #205375;
    --light-blue: #347aa9;
    --dark-orange: #9a4207;
    --orange: #f66b0e;
    --light-orange: #f1965a;
    --grey: #efefef;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-route {
    background-color: var(--grey);
}
.btn2 {
    bottom: 10px;
    z-index: 11;
    color: var(--grey);
    background-color: var(--blue);
    border: none;
    height: 60px;
    box-shadow: -2px 0px 5px -3px var(--dark-blue);
    position: fixed;
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;
    overflow: hidden;
}
.btn2:hover {
    background-color: var(--dark-blue);
}
/*------------------Index Router------------------*/
/*--------------Review Button--------------*/
.review-btn {
    width: 150px;
    right: -89px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.review-btn:hover {
    transform: translateX(-75px);
}
.review-btn span {
    padding-right: 9px;
    padding-top: 5px;
    font-size: 30px;
}
/*--------------Top Button--------------*/
.top-button {
    opacity: 0%;
    width: 90px;
    left: -65px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: column;
    justify-content: start;
}
.top-button .up-arrow {
    margin: 10px 0;
    padding-top: 5px;
    padding-left: 25px;
    transition: 0.4s;
    font-size: 30px;
}
.top-button:hover .up-arrow {
    transform: translateY(-57px);
}
/*--------------Top Section--------------*/
.container {
    overflow: hidden;
    height: 100vh;
}
.container #background {
    z-index: -1;
    width: 100%;
    filter: blur(3px);
}
.container .color {
    background-color: var(--dark-blue);
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 70%;
}
.container .form {
    position: absolute;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form .title {
    color: var(--grey);
    margin-bottom: 50px;
    text-align: center;
}
.form .btn {
    font-size: 20px;
    font-weight: lighter;
    padding: 12px;
    background: none;
    border: solid 1px var(--grey);
    border-radius: 10px;
    color: var(--grey);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.btn:hover {
    color: var(--orange);
    border-color: solid 2px var(--orange);
}

/*--------------Animals Section--------------*/
.animals-btns {
    display: flex;
    flex-direction: row;
    transform: rotate(90deg);
    width: 100vh;
    position: absolute;
    left: -410px;
    justify-content: center;
}
.animals-btns .btn {
    width: 100%;
    font-size: 25px;
    padding: 15px 0;
    border: none;
    background-color: var(--dark-orange);
    color: var(--grey);
    box-shadow: 0px -2px 5px -3px var(--dark-blue);
    transition: 0.4s;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-decoration: none;
}
.animals-btns .btn:hover {
    transform: translateY(-40px);
}
.animals-btns .dogs-btn {
    background-color: var(--orange);
}
.animals-btns .foxes-btn {
    background-color: var(--light-orange);
}
.animals-section .animal-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px 0;
}
.animal-section .animal-name-header {
    color: var(--dark-blue);
    font-size: 80px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.animal-section .animal-description {
    color: var(--dark-blue);
    font-size: 30px;
    max-width: 1200px;
    text-align: justify;
}
.animal-section .animal-img-frame {
    border: var(--dark-blue) 3px solid;
    border-radius: 7000px;
    width: 300px;
    height: 300px;
}
.animal-img-frame .animal-img {
    width: 200px;
}
.animal-section .explore-more {
    color: var(--orange);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 30px 0;
    font-size: 20px;
    transition: all 0.4s;
    overflow: hidden;
}
.animal-section .explore-more:hover {
    color: var(--dark-orange);
}
.animal-section .arrow {
    transition: all 0.4s;
}
.animal-section .explore-more:hover .arrow {
    transform: translateX(40px);
}
.animals-section .dogs-section {
    --dark-blue: #efefef;
    --grey: #112b3c;
    background-color: var(--grey);
}
